{% extends 'base.html.twig' %}

{% block content %}
<h2>Registro</h2>

{{ form_start(form) }}
    {{form_row(form.nombre) }}
    {{form_row(form.email) }}
    {{form_row(form.password) }}
    {{form_row(form.aceptar_terminos) }}
    {{form_row(form.opciones) }}
    {{form_row(form.comentarios) }}

    <div class="my-3">
        {{ form_row(form.registrarse) }}
    </div>
{{ form_end(form) }}

{% endblock %}



